@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

/* Синтаксис CSS:

селектор {
  властивість: значення;
  інша-властивість: значення;
}

*/

/* body {
    background-color: cadetblue;
} */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-color: black;
  --accent-color-primary: #e07faa;
  --accent-color-secondary: #fef9dc;
}

header {
  background-color: chartreuse;
}

.button {
  background-color: var(--accent-color-primary);
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  color: var(--accent-color-secondary);
}
